<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
</suite> 
<listeners>
<listener class-name="hms.reports.ExtentReporterNG"></listener>
</listeners>
  <test thread-count="5" name="Test">
  <classes>
  <class name="hms.admintest.LoginpageTest"></class>
  <class name="hms.admintest.FrontofficeTest"></class>
  <class name="hms.admintest.VisitorTest"></class> 
  </classes> 
  </test> <!-- Test -->
</suite> <!-- Suite -->
